//TRANSITION
$br2:2px;
$br4:4px;
$br8:8px;

//TRANSITION
$transition-2: 0.2s linear;

//BOX SHADOW
$box-shadow-1: 0 7px 16px 0 rgba(0, 0, 0, 0.04);
$box-shadow-2: 0 16px 16px 0 rgba(0, 0, 0, 0.06);
$box-shadow-3: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
$box-shadow-4: 4px 4px 13px 0 rgba(0, 28, 50, 0.58);
$box-shadow-5: 4px 4px 13px 0 rgba(0, 28, 50, 0.07);



//COLORS
$input: #F9FAFE;
$white: #FFFFFF;
$black: #000000;
$brand0: #EDEEF9;
$brand1: #A5AAE2;
$brand2: #9499DC;
$brand3: #8288D6;
$brand4: #7077D1;
$brand5: #5E66CB;
$brand6: #4C55C5;
$brand7: #3B45C0;
$grey: #B0B7C3;
$success: #00CF69;
$warning: #FFC000;
$danger: #FF045B;
$transparent: transparent;
$link: #1686C9;


//FONTS
$i_black : "i_black";
$i_bold : "i_bold";
$i_extra_bold : "i_extra_bold";
$i_extra_light : "i_extra_light";
$i_light : "i_light";
$i_medium : "i_medium";
$i_regular : "i_regular";
$i_semi_bold : "i_semi_bold";
$i_thin : "i_thin";


//FONT SIZE
$h1:34px;
$h2:28px;
$h3:24px;
$h4:20px;
$h5:16px;
$p:14px;
$label:12px;
$small:10px;


//BORDER
$border3: 3px solid $brand0;